<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/menu.jsp</url-pattern>
        <url-pattern>/homea.jsp</url-pattern>
        <url-pattern>/homea</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Users.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Users.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Users.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Users.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>controller.Admin.HomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dorm</servlet-name>
        <servlet-class>controller.Admin.Dorm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DormUpdate</servlet-name>
        <servlet-class>controller.Admin.DormUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DormCreate</servlet-name>
        <servlet-class>controller.Admin.DormCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DormDelete</servlet-name>
        <servlet-class>controller.Admin.DormDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCreate</servlet-name>
        <servlet-class>controller.Admin.PaymentCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>controller.Admin.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentDelete</servlet-name>
        <servlet-class>controller.Admin.PaymentDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentUpdate</servlet-name>
        <servlet-class>controller.Admin.PaymentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Room</servlet-name>
        <servlet-class>controller.Admin.Room</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDelete</servlet-name>
        <servlet-class>controller.Admin.RoomDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomCreate</servlet-name>
        <servlet-class>controller.Admin.RoomCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomUpdate</servlet-name>
        <servlet-class>controller.Admin.RoomUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>controller.Admin.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdate</servlet-name>
        <servlet-class>controller.Admin.StudentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDelete</servlet-name>
        <servlet-class>controller.Admin.StudentDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminInforUpdate</servlet-name>
        <servlet-class>controller.Admin.HomeAdminInforUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminInforDelete</servlet-name>
        <servlet-class>controller.Admin.HomeAdminInforDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Admin.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInforStudent</servlet-name>
        <servlet-class>controller.Users.UpdateInforStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/homea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dorm</servlet-name>
        <url-pattern>/dorm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DormUpdate</servlet-name>
        <url-pattern>/dormupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DormCreate</servlet-name>
        <url-pattern>/dormcreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DormDelete</servlet-name>
        <url-pattern>/dormdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCreate</servlet-name>
        <url-pattern>/paymentcreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentDelete</servlet-name>
        <url-pattern>/paymentdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentUpdate</servlet-name>
        <url-pattern>/paymentupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Room</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDelete</servlet-name>
        <url-pattern>/roomdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomCreate</servlet-name>
        <url-pattern>/roomcreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomUpdate</servlet-name>
        <url-pattern>/roomupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdate</servlet-name>
        <url-pattern>/studentupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDelete</servlet-name>
        <url-pattern>/studentdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminInforUpdate</servlet-name>
        <url-pattern>/inforupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminInforDelete</servlet-name>
        <url-pattern>/infordelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInforStudent</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            view/login.jsp
        </welcome-file>
    </welcome-file-list>
    <web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
        <filter>
            <filter-name>LoginFilter</filter-name>
            <filter-class>filter.LoginFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>LoginFilter</filter-name>
            <url-pattern>/home</url-pattern>
            <url-pattern>/home.jsp</url-pattern>
            <url-pattern>/menu.jsp</url-pattern>
            <!--        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/home.jsp</url-pattern>-->
        </filter-mapping>
        <servlet>
            <servlet-name>Login</servlet-name>
            <servlet-class>controller.Users.Login</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Register</servlet-name>
            <servlet-class>controller.Users.Register</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Logout</servlet-name>
            <servlet-class>controller.Users.Logout</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Home</servlet-name>
            <servlet-class>controller.Users.Home</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>HomeAdmin</servlet-name>
            <servlet-class>controller.Admin.HomeAdmin</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Dorm</servlet-name>
            <servlet-class>controller.Admin.Dorm</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>DormUpdate</servlet-name>
            <servlet-class>controller.Admin.DormUpdate</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>DormCreate</servlet-name>
            <servlet-class>controller.Admin.DormCreate</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>DormDelete</servlet-name>
            <servlet-class>controller.Admin.DormDelete</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>PaymentCreate</servlet-name>
            <servlet-class>controller.Admin.PaymentCreate</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>Payment</servlet-name>
            <servlet-class>controller.Admin.Payment</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>PaymentDelete</servlet-name>
            <servlet-class>controller.Admin.PaymentDelete</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>PaymentUpdate</servlet-name>
            <servlet-class>controller.Admin.PaymentUpdate</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>Login</servlet-name>
            <url-pattern>/login</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Register</servlet-name>
            <url-pattern>/register</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Logout</servlet-name>
            <url-pattern>/logout</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Home</servlet-name>
            <url-pattern>/home</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>HomeAdmin</servlet-name>
            <url-pattern>/homea</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Dorm</servlet-name>
            <url-pattern>/dorm</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>DormUpdate</servlet-name>
            <url-pattern>/dormupdate</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>DormCreate</servlet-name>
            <url-pattern>/dormcreate</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>DormDelete</servlet-name>
            <url-pattern>/dormdelete</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>PaymentCreate</servlet-name>
            <url-pattern>/paymentcreate</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Payment</servlet-name>
            <url-pattern>/payment</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>PaymentDelete</servlet-name>
            <url-pattern>/paymentdelete</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>PaymentUpdate</servlet-name>
            <url-pattern>/paymentupdate</url-pattern>
        </servlet-mapping>
        <session-config>
            <session-timeout>
            30
        </session-timeout>
        </session-config>
        <welcome-file-list>
            <welcome-file>
            view/login.jsp
        </welcome-file>
        </welcome-file-list>
    </web-app>
</web-app>
